beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
Django==2.2.24
django-webtest==1.9.2
dnspython==1.15.0
idna==2.6
ipaddr==2.2.0
ipwhois==1.0.0
requests==2.18.4
six==1.11.0
urllib3==1.22
waitress==1.1.0
WebOb==1.7.4
WebTest==2.0.29
